<article class="post">
    <div class="title">
        <a href="" target="_blank">{{title}}</a>
    </div>
    <div class="post-content">
        <p>{{rating}}</p>
        <p>{{content}}</p>
        {{vote_count}} {{format_plural 'point' vote_count}} by {{user.username}} on
        {{format_date created_at}}
        |
        <a href="/post/{{id}}">{{comments.length}} {{format_plural 'comment' comments.length}}</a>
    </div>
</article>